


*{
	margin: 0;
	padding: 0;
}
ul, li{
	list-style: none;
}
img{
	display: block;
}
a{
	text-decoration: none;
	color: #666666;
}
body{
	font-size: 14px;
}
.mui-scroll-wrapper{
	top: 87px;
}
.content{
	position: absolute;
	top: 44px;
	width: 100%;
	height: 43px;
	background: #ffffff;
	display: flex;
	/*border-bottom: 1px solid #ccc;*/
}
.content>li{
	flex: 1;
	text-align: center;
	line-height: 43px;
	color: #666666;
	
}
.content .active{
	font-weight: 900;
	color: #06c1ae;
	border-bottom: 2px solid #06c1ae;
}

.list{
	position: absolute;
	/*top: 87px;*/
	left: 0;
	width: 100%;
	background: #fff;
	border-top: 1px solid #ccc;
}
.list1{
	width: 100%;
	height: 4.1rem;
	padding-top: 0.4rem;
	padding-left: 0.2rem;
	border-bottom: 1px solid #ccc;
}
.list1 li{
	
}
.list1 li h3{
	display: block;
	width: 7.0rem;
	height: 0.9rem;
/*	background: red;*/
	font-size: 0.35rem;
	line-height: 0.45rem;
}
.list1 li .images{
	width: 7.0rem;
	height: 1.70rem;
	margin-top: 0.25rem;
	/*background: yellow;*/
}
.images span a img{
	display: block;
	width: 2.25rem;
	height: 1.67rem;
	/*background: red;*/
	float: left;
	margin-left: 0.08rem;
}
.location{
	padding-top: 0.15rem;
	font-size: 0.2rem;
}
.location span{
	float: left;
}
.cil{
	display: block;
	width: 0.35rem;
	height: 0.25rem;
	border-radius: 60%;
	background: #c0c0c0;
	margin-left: 0.2rem;
	margin-right: 0.2rem;
	margin-top: 0.05rem;
}
.cil .cil-lis{
	display: block;
	width: 0.15rem;
	height: 0.15rem;
	background: #fff;
	border-radius: 50%;
	margin-top: 0.05rem;
	margin-left: 0.1rem;
}
